body {
    font-family: Vazirmatn, sans-serif;
}

p {
    text-align: justify;
}

.btn > a {
    color: inherit; 
    text-decoration: inherit;
}

body > .container {
    margin-top: 40px; 
    margin-bottom: 20px;
}

.nrv-title {
    margin-bottom: 10px; 
    margin-top: 10px;
}
.nrv-title > span {
    color: #EEEEEE; 
    background-color: #424242; 
    font-weight: 700; 
    font-size: larger; 
    padding: 5px 10px;
}

.nrv-card {
    border: none;
}
.nrv-card > a {
    color: inherit; 
    text-decoration: inherit;
}