---
layout: default
title: مجله
permalink: /main
---

<div class="col-12 col-lg-8 offset-lg-2">

  <div class="row">
    
    <div class="card nrv-card col-6 col-lg-4 offset-lg-2">
      <a href="/archive/2">
          <img src="/assets/archive/2.jpg" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title text-center">شماره دوم. خانه؛<br>خیال بودن تا حقیقت زیستن</h6>
          </div>
      </a>
    </div>
    <div class="card nrv-card col-6 col-lg-4">
      <a href="/archive/1">
          <img src="/assets/archive/1.jpg" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title text-center">شماره اول. آ مثل آغاز، مثل آمستردام</h6>
          </div>
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col-12 nrv-title"><span>از نارون بخوانید</span></div>

    {% for cat in site.categories reversed %}
    <div class="col-12 col-lg-6">
        
        {% for post in cat[1] %}
        <div class="row">
          <div class="col-3">
            <a href="{{ post.url }}"><img src="{{ post.img }}" style="width: 100%;"></a>
          </div>
          <div class="col-9" style="padding-top: 10px;">
            <h6><a href="{{ post.url }}" style="text-decoration:none;color: inherit;">{{ post.title }}</a></h6>
            <span>از {{ post.author }}</span>
            <hr class="hr" style="padding-left: 10px; padding-right: 10px;" />
          </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
  </div>

</div>
