---
layout: default
---

<div class="row" style="margin-top: 50px">
{% for cat in site.categories %}
    <div class="col-sm-12 col-lg-6 offset-lg-3">
        <h2 class="text-center">شماره {{ cat[0] }}</h2>
        <hr class="hr" />
    </div>



<div class="row">
    {% for post in cat[1] %}
      <div class="card col-sm-12 col-lg-4" style="margin-bottom: 10px; border: none;">
        <a href="{{ post.url }}" style="text-decoration:none;color: inherit;">
            <img src="{{ post.img }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">{{ post.title }}</h5>
            </div>
        </a>
        <hr class="hr" />
      </div>
    {% endfor %}
</div>

{% endfor %}
</div>

<div class="row">
  <div class="col-sm-12 col-lg-8 offset-lg-2">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1771052523&color=%23369448&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/naarvanmag" title="مجله نارون" target="_blank" style="color: #cccccc; text-decoration: none;">مجله نارون</a> · <a href="https://soundcloud.com/naarvanmag/episode-1" title="قسمت اول: آ.. مثل آغاز، مثل آمستردام" target="_blank" style="color: #cccccc; text-decoration: none;">قسمت اول: آ.. مثل آغاز، مثل آمستردام</a></div>
  </div>
</div>
